@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{ 
    display: grid;
}
/*LOGIN FOURM*/
.login{    
    width: 40%;
    display: grid;
    gap: 5px;
    justify-self: center;

    margin-top: 5ch;
    padding: 5ch;
    padding-top: 10ch;
    border: 1px solid #187498;
    border-radius: 10px;
}
.login >input{
    height: 7ch;
    border: none;
    border-bottom: 1px solid #36AE7C;
}

.login >#LOGIN_BOTTON{
    color: white;
    justify-self: flex-end;
    width: 50%;
    background: #36AE7C;
}
/*STUDENT TABLE */
#STUDENT_TABLE{
    background-color:#FCF6F5FF;
    justify-self: center;
    width: 85%;

    padding: 5ch;
    border: 1px solid #187498;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 0.2fr 0.2fr repeat(7,1fr);
    gap: 1ch;
}
#STUDENT_TABLE > .column{
    border-bottom: 1px solid #36AE7C;
    padding: 0.25ch;
}
.OPTION{
    justify-self: end;
    padding: 1ch;
    border: 1px solid #187498;
    border-radius: 10px;

    margin-bottom: 2ch;
}

.img{
    justify-self: center;
    width: 100%;
    height: auto;
}
/*ADD STUDENT*/
#ADD_SECTION{
    padding: 4ch;
    border-radius: 10px;
    border: 1px solid #187498;

    justify-self: center;
    width: 40%;
    display:grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 1ch;
}
#ADD_SECTION >input{
    height: 7ch;
    border: none;
    border-bottom:1px solid #187498;
    
    padding: 1ch;
}
#ADD_SUBMIT{
    color: white;
    grid-column: 1/-1;
    border: none;
    background: #187498;
    border-radius: 10px;
}
#ADD_SUBMIT:hover{
    border-bottom: 1ch solid #36AE7C; 

}
/*MODIFY STUDENT*/
#MODIFY_SECTION{
    justify-self: center;
    width: 33.33%;
    display:grid;
    grid-template-columns: 1fr ;
    gap: 1ch;
}
.info{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1ch;
}

.info>input{
    height: 7ch;
    border: none;
    border-bottom: 1px solid #36AE7C;
}
.info>label{
    align-self: center;
}
#MODIFY_SECTION> #MODIFY_SUBMIT{
    grid-column: 1/-1;
    height: 7ch;
    background: none;
    border: none;
    border-bottom:1px solid #187498;
}
#MODIFY_SECTION_TITLE{
    justify-self: center;
    margin-bottom: 2ch;
}
